@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root {
  --font-source-sans-pro: "Source Sans Pro", sans-serif;
  --font-karla: "Karla", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --white: #fff;
  --black: #000;
  --brown: rgb(62, 51, 48);
  --brown-fade: rgba(62, 51, 48, 0.3);
  --white-fade: rgba(255, 255, 255, 0.5);

  --blue: #cfecf6;
  --blue-dark: #9de6ff;
  --yellow: #fdfac1;
  --yellow-dark: #faf48e;
  --pink: #fbc1f5;
  --pink-dark: #fb8ff0;
  --red: #ff3366;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-size: var(--font-rubik);
  color: var(--black)
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow: hidden;
}

@media screen and (max-width: 1838px) {
    body {
      overflow: auto;
    }
}